* {
    margin: 0;
    padding: 0;
}

html, body {
    width:  100%;
    height: 100%;
    margin: 0;
}

#canvas {
}

#output {
    position: absolute;
    top: 0;
    right: 0;
    width: 700px;
    height: 30px;
    background-color: white;
}